*{
  margin: 0; 
  padding: 0%; 
  box-sizing: border-box;
  /* font-size: 1.em; */
}


/* 1 - Faça o tamanho da fonte ser maior; */
body {
  padding: 1em;
  font-size: 1.2em ;
  margin: 20px 5%; /* 4 - Adicione um pouco de margin na página. */
}
/* 2 - Faça o tamanho da fonte dos elementos h1 ser menor; */
h1 {font-size: 1.6em;
  margin-bottom: .6em;
  
}
h2 {
  margin-top: 1.2em;
  text-align: center;
}

img {
  max-width: 100%;
}

figure {
  padding: 10px;
  text-align: center;
  margin: 0 0 25px 0;/*3 - Aumente o espaçamento entre as figuras;  */
 }


figcaption {
  font-size: .8em;
}
/* figure {
  background: black;
  border-radius: 5px;
  color: white;
  margin: 0 0 25px 0;
  padding: 10px;
  text-align: center;
} */

/*6 media query para brake point de 800px */
@media screen and (min-width: 790px){
  body {
    background-color: red;
    margin: 2em 5em;
    max-width: 80%;
    font-size: 1.4em;
    
  }

  main {
    display: flex;
    flex-direction: column;

  }

  main div {
    display: flex;
    flex-wrap: wrap;

  }
  figure {
    width: 45%;

  }
  
}

@media screen and (min-width: 1024px ) {
  body {
    background-color: pink;
    margin: 1.8em 4em;
  
  }
  main div {
    display: flex;
    margin: 0 auto o;
    justify-content: center;
    margin: 10px auto;

}